<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Comment</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Create New Comment</h1>
    <form th:action="@{/posts/{postId}/comments/new(postId=${postId})}" th:object="${commentForm}" method="post">
        <div class="form-group">
            <label for="content">Content</label>
            <textarea th:field="*{content}" class="form-control" id="content" placeholder="Enter your comment"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="userId">Author</label>
            <select th:field="*{userId}" class="form-control" id="userId">
                <option value="">Select Author</option>
                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">User</option>
            </select>
            <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
