
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.gradient-custom {
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}
.container {
    max-width: 800px;
    margin: auto;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #dee2e6;
}

.btn {
    padding: 6px 12px;
    margin-right: 5px;
}
